In [1]:
import numpy as np
import pandas as pd

In [5]:
pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [10]:
data = {'A':[1,2,3],'B':[4,5,6]}
df = pd.DataFrame(data)

In [11]:
df['B']

0    4
1    5
2    6
Name: B, dtype: int64

In [19]:
df.describe()

         A    B
count  3.0  3.0
mean   2.0  5.0
std    1.0  1.0
min    1.0  4.0
25%    1.5  4.5
50%    2.0  5.0
75%    2.5  5.5
max    3.0  6.0

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
A    3 non-null int64
B    3 non-null int64
dtypes: int64(2)
memory usage: 128.0 bytes

In [13]:
data = {'Item1':pd.DataFrame(np.random.randn(4,3)),
        'Item2':pd.DataFrame(np.random.randn(4,3)),}

In [16]:
p=pd.Panel(data)
p

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 4 (major_axis) x 3 (minor_axis)
Items axis: Item1 to Item2
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 2

In [17]:
p['Item1']

          0         1         2
0  0.449211  0.685352 -1.538551
1  0.717025 -0.992524  0.598549
2  0.959887 -0.404091 -0.106220
3 -0.943009  0.758743 -1.205317

In [21]:
birth = pd.read_json('df.json')

In [22]:
birth

         birthyear  children    hobby  weight
alice         1985       NaN   Biking      68
bob           1984       3.0  Dancing      83
charles       1992       0.0     None     112

In [23]:
birth['birthyear']

alice      1985
bob        1984
charles    1992
Name: birthyear, dtype: int64

In [24]:
birth[['birthyear','hobby']]

         birthyear    hobby
alice         1985   Biking
bob           1984  Dancing
charles       1992     None

In [29]:
birth.loc['alice']

birthyear      1985
children        NaN
hobby        Biking
weight           68
Name: alice, dtype: object

In [27]:
birth.iloc[0]

birthyear      1985
children        NaN
hobby        Biking
weight           68
Name: alice, dtype: object

In [36]:
birth.iloc[:2,1:3]

       children    hobby
alice       NaN   Biking
bob         3.0  Dancing

In [38]:
birth.iloc[0,1]

nan

In [50]:
birth.loc['alice','children']

nan